<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }} flex h-full flex-col bg-zinc-50">

    <div class="relative">
      <main class="mx-auto max-w-7xl p-6 sm:p-12">
        <div class="flex items-center gap-x-6">
          <a href="https://lukanpriorities.com" class="h1 hover:underline font-semibold text-rose-500 hover:text-rose-700">
            <div class="flex items-center gap-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
              </svg>
              <span>
                Lukan Priorities
              </span>
            </div>
          </a>
        </div>
        <h1 class="my-5 text-4xl font-bold tracking-tight text-zinc-900 sm:text-5xl">
          {{ data.title }}
        </h1>
        {{ content }}
      </main>
    </div>
  </body>
</html>
